body{
    background-color: #E1DDD3;
    font-family: Roboto, sans-serif;
}

.top--elements{
    text-align: center;
    height: 142px;
    margin: 35px 0px 35px 0px;
}

.logo{
    display: inline-block;
    height: 142px;
    width: 142px;
    margin-right: 52px;
}

h1{
    font-size: 60px;
    display: inline-block;
    height: 142px;
    padding: -50px;
}

nav{
    height: 50px;
    line-height: 50px;
    width: 1001px;
    background-color: #CDBB82;
    margin: 30px 0 19px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding-left: 0px;
}

li{
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 0px 85px 0px 85px;
}

li:hover{
    color: aliceblue;
    background-color: rgb(83, 100, 172);
}

main{
    background-color: white;
    width: 1001px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    height: 42px;
    font-size: 36px;
    padding: 28px 0 0 65px;
}

.image{
    height: 200px;
    width: 300px;
    margin: 0 0 0 52px;
    display: inline-block;
}

.first--text{
    width: 560px;
    display: inline-block;
    font-size: 16px;
    margin: 0 49px 0 18px;
}

.second--text{
    margin: 0 49px 0 52px;
    padding-bottom: 26px;
}