figure{
    border: 2px solid lightgray;
    width: 150px;
    float: left;
    text-align: center;
}

figure:hover{
    border: 2px solid black;
}

img{
    height: 100px;
    width: 150px;
}

a{
    text-decoration: none;
    color: black;
}